.teste {
    color: red;
    text-align: center;
    align-items: center;
    border: 8px solid blue;
    width: 180px;
    height: 180px;
    border-radius: 50%;

}

h2{
    text-align: center; 
    text-align: center;
    display: flex;
    padding-top: 55px;
    padding-left: 35px;
}

p {
    color: blueviolet;

}